:root {
    --primary-text-color: rgba(21, 21, 21, 1);
    --primary-white-color: #ffffff;
    --accent-color: #2196F3;
    --primary-grey-color: #757575;
}
body {
     font-family: Roboto, sans-serif; 
    }
    .list{
        list-style: none;
    }
.heder{
    background-color: var(--primary-white-color);
}
/*logo*/

.logo {
    font-family: Raleway, cursive;
    color: var(--primary-text-color);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    }
.logo-web{
    color: var(--accent-color);
}
/*navigation*/

.nav-list{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color)
}
.nav-link{
    color: var(--primary-text-color);
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}
/*Contact*/

.contact-link{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-grey-color);
text-decoration: none;
}

.contact-link:hover,
.contact-link:focus
{
    color:var(--accent-color)
}
/*Hero*/

.hero {
    background-color: #2F303A;
}
.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--primary-white-color);
}
.hero-button {
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--primary-white-color) ;
background-color: var(--accent-color);
}
.hero-button{
    cursor: pointer;
}
/*features*/

.features-link {
font-weight: 700;
font-size: 14px;
line-height: 1.14x;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
}

.features-text {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primary-grey-color);
}


/*Work*/

.work-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/*Team*/

.team{
    background-color: #F5F4FA;
}

.team-title{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.team-name{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.team-text{
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-grey-color);
}

/*Footer*/

.footer{
background: #2F303A;
}
.logo-footer{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--primary-white-color);
text-decoration: none;
}
.logo-footer-web{
    color: var(--accent-color);
}
.footer-addres-nav{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primary-white-color);
text-decoration: none;
}
.footer-addres-contacts{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
}
.footer-addres-contacts:hover,
.footer-addres-contacts:focus
{
    color:var(--accent-color)
}
.footer-addres-nav:hover,
.footer-addres-nav:focus
{
    color:var(--accent-color)
}
/*Portfolio*/

.portfolio{
    background-color: var(--primary-white-color);
}

.filter-button{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
background-color: #F5F4FA;
text-decoration: none;
}
.filter-button{
    cursor: pointer;
}

.filter-button:hover,
.filter-button:focus{
    color:var(--primary-white-color);
    background-color: var(--accent-color);
}

.portfolio-item{
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}
.portfolio-text{
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--primary-grey-color);
}
